/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  scroll-padding-top: 60px; /* Adjust this value to match your navbar's height */
  scroll-behavior: smooth;
}
